img {
  width: 1.5%;
  height: 1.5%;
}

* {
  font-family: 'Gaegu', cursive;
}

#container {
  margin: 0 auto;
  max-width: 100%;
  text-align: left;
}

.center {
  text-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav {
  text-align: right;
}

a {
  text-decoration: none;
}

.node:hover {
  transform: scale(1.50);
}
