.completed {
  width: 2%;
  height: 2%;
  background: gray;
  padding-bottom:2%;
  float: left;
  margin: 0.25%;
}

.remaining {
  width: 2%;
  height: 2%;
  background: pink;
  padding-bottom:2%;
  float: left;
  margin: 0.25%;
}

#container {
  margin: 0 auto;
  max-width: 80%;
}
